body {
    background: linear-gradient(to right, #6a11cb, #2575fc);  /* Degradado de morado a azul */
    font-family: 'Arial', sans-serif;
    color: #333;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: rgb(3, 3, 3);
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #d6e9f1;
  }
  
  table thead {
    border-bottom: 2px solid #007bff;
  }
  
  .table-container {
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  